<template>
    <div class="slds-box slds-theme_default">
        <p class="welcome">Welcome!</p>
        <p>This is an educational application. It provides an ability<br>
            to draw a fractal, transform math figures, change images<br>
            brightness and see colors in different color models.
        </p>
        <p>Get started!</p>
        <img src={homeImage}/>
    </div>
</template>